<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=800, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>DAV PUBLIC SCHOOL, PATELNAGAR</h1>
        <h2>STUDENTS WEEKLY SCHEDULE</h2>
        <hr width="50%">
        <h3>Standard: {{standard}}</h3>
        <hr width="50%">

        <table border="1" cellspacing="15" cellpadding="20">
            <tr style="font-size: 40px;"><td></td><td>1st</td><td>2nd</td><td>3rd</td><td>4th</td><td>5th</td><td>6th</td><td>7th</td><td>8th</td></tr>
            <tr><td>Monday</td><td>{{monday_1}}</td><td>{{monday_2}}</td><td>{{monday_3}}</td><td>{{monday_4}}</td><td>{{monday_5}}</td><td>{{monday_6}}</td><td>{{monday_7}}</td><td>{{monday_8}}</td></tr>
            <tr><td>Tuesday</td><td>{{tuesday_1}}</td><td>{{tuesday_2}}</td><td>{{tuesday_3}}</td><td>{{tuesday_4}}</td><td>{{tuesday_5}}</td><td>{{tuesday_6}}</td><td>{{tuesday_7}}</td><td>{{tuesday_8}}</tr>
            <tr><td>Wednesday</td><td>{{wednesday_1}}</td><td>{{wednesday_2}}</td><td>{{wednesday_3}}</td><td>{{wednesday_4}}</td><td>{{wednesday_5}}</td><td>{{wednesday_6}}</td><td>{{wednesday_7}}</td><td>{{wednesday_8}}</td></tr>
            <tr><td>Thursday</td><td>{{thursday_1}}</td><td>{{thursday_2}}</td><td>{{thursday_3}}</td><td>{{thursday_4}}</td><td>{{thursday_5}}</td><td>{{thursday_6}}</td><td>{{thursday_7}}</td><td>{{thursday_8}}</td></tr>
            <tr><td>Friday</td><td>{{friday_1}}</td><td>{{friday_2}}</td><td>{{friday_3}}</td><td>{{friday_4}}</td><td>{{friday_5}}</td><td>{{friday_6}}</td><td>{{friday_7}}</td><td>{{friday_8}}</td></tr>
        </table>

    </center>
    
</body>
</html>