<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=800, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>DAV PUBLIC SCHOOL, PATELNAGAR</h1>
        <h2>TEACHERS WEEKLY SCHEDULE</h2>
        <hr width="50%">
        <h3>Date: {{date}} ({{day}})</h3>
        <h3>Teachers Absent: {{teachers}}</h3>
        <hr width="50%">

        <table border="1" cellspacing="15" cellpadding="20">
            <tr style="font-size: 40px;"><td>Name</td><td>1st</td><td>2nd</td><td>3rd</td><td>4th</td><td>5th</td><td>6th</td><td>7th</td><td>8th</td></tr>
            {{items}}
        </table>

    </center>
    
</body>
</html>